<p id="notice"><%= notice %></p>

<h1>Cohorts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.school.name %></td>
        <td><%= cohort.teacher.full_name %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort', new_cohort_path %>
